absl-py==0.15.0
anyio==3.6.1
appdirs==1.4.4
astunparse==1.6.3
audioread==3.0.0
cachetools==5.2.0
click==8.1.3
Cython==0.29.32
ffmpeg-python==0.2.0
Flask==2.2.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==2.11.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==3.1.0
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
hyperframe==6.0.1
itsdangerous==2.1.2
joblib==1.2.0
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
librosa==0.8.1
llvmlite==0.38.1
madmom==0.16.1
Markdown==3.4.1
mido==1.2.10
mir-eval==0.6
norbert==0.2.1
numba==0.55.2
numpy==1.19.5
oauthlib==3.2.1
opt-einsum==3.3.0
pandas==1.4.4
Pillow==8.4.0
pooch==1.6.0
pretty-midi==0.2.9
protobuf==3.19.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyFluidSynth==1.3.1
pytz==2022.2.1
PyYAML==5.4.1
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.1
six==1.15.0
sniffio==1.3.0
SoundFile==0.10.3.post1
spleeter==2.3.2
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==3.1.0
tqdm==4.64.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
vamp==1.1.0
Werkzeug==2.2.2
wrapt==1.12.1
